<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
</head>

<body>

    <div id="app">
        <header>simple calculator</header>
        <div>{{initValue}}</div>
        <template v-for="num in 9">
            <button @click="addNum(num)">{{num}}</button>
        </template>
        <button @click="addNum(num)">0</button>
        <br>
        <template v-for="operator in operators">
            <button @click="operation(operator)">{{operator}}</button>
        </template>
        <button @click="equal()">=</button>
        <br>
        <button @click="reset()">reset</button>



    </div>


    <script src="https://unpkg.com/vue@3"></script>
    <script>


        Vue.createApp({

            data() {
                return {
                    initValue: 0,
                    operators: ["+", "-", "x", "/"],
                    savedValue: 0,//用來儲存按完的數字
                    chooseOperator: "",//用來儲存按的符號

                }
            },
            methods: {
                addNum(value) {
                    if (this.initValue === 0) {
                        this.initValue = value
                    } else {
                        this.initValue += value.toString()
                    }
                },
                operation(operator) {
                    this.savedValue = Number(this.initValue);//把剛剛按的數字結果轉成數字
                    this.initValue = 0;//按下符號後畫面顯示數字變成0
                    this.chooseOperator = operator;//抓按下的符號
                },
                equal() {
                    switch (this.chooseOperator) {
                        case '+':
                            this.initValue = this.savedValue + Number(this.initValue);
                            break;
                        case '-':
                            this.initValue = this.savedValue - Number(this.initValue);
                            break;
                        case 'x':
                            this.initValue = this.savedValue * Number(this.initValue);
                            break;
                        case '/':
                            this.initValue = this.savedValue / Number(this.initValue);
                            break;
                    }

                },
                reset() {
                    this.initValue = 0;
                    // this.savedValue = 0;
                },

            }



        }).mount('#app')





    </script>


</body>

</html>